*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Lato';
    src: url(/fonts/Lato.ttf);
}
@font-face {
    font-family: 'Train';
    src: url(/fonts/TrainOne.ttf);
}
body{
    background-color: aqua;
}
.header{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
}
.menu_left{
    display: flex;
    margin-left: 130px;
}
.menu_left img{
    width: 70px;
    height: 60px;
    margin-top: 10px;
}
.menu_left p{
    font-family: 'Train';
    margin-top: 20px;
    font-size: 30px;
    font-weight: 400;
}
.menu_center{
    display: flex;
    list-style: none;
    margin-left: 511px;
    margin-top: 28px;
    column-gap: 30px;
}
.menu_center li a{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lato';
    line-height: 24px;
    text-decoration: none;
    color: black;
}
.menu_center li a:hover{
    color: #18B5DC;
}
.menu_right{
    margin-left: 265px;
    margin-top: 19px;
}
.menu_right p{
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 600;
    border: 1px solid black;
    padding: 10px 19px;
    width: 130px;
    height: 42px;
}
.menu_right p:hover{
    background-color: #18B5DC;
    color: #FFFFFF;
    border:  1px solid #18B5DC;
}
.main{
    width: 100%;
    height: 833px;
    background-color: #F6F6F6;
}
.main h1{
    padding-top: 150px;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
}
.main hr{
    margin-left: 920px;
}
.main p{
    color: #3C3C3C;
    text-align: center;
    width: 570px;
    height: 42px;
    margin-left: 650px;
    font-family: 'Lato';
    line-height: 24px;
    font-size: 16px;
}
.photo{
    padding-left: 500px;
    padding-top: 60px;
    display: flex;
    column-gap: 50px;
    list-style: none;
}
.photo_text{
    display: flex;
    list-style: none;
    column-gap: 150px;
    padding-left: 500px;
}
.photo_text b{
    font-family: 'Lato';
    font-weight: 700;
    line-height: 21px;
    font-size: 18px;
    width: 170px;
    height: 21px;
}
.photo_text_job{
    display: flex;
    list-style: none;
    column-gap: 150px;
    padding-left: 500px;
}
.photo_text_job b{
    font-family: 'Lato';
    font-weight: 300;
    line-height: 21px;
    font-size: 18px;
    width: 170px;
    height: 21px;
    color: #646464;
}
.footer{
    width: 100%;
    height: 260px;
    background-color: #FFFFFF;
}
