.photo{
    padding-left: 500px;
    padding-top: 60px;
    display: flex;
    column-gap: 50px;
    list-style: none;
}
.Alex_photo{
    transform: scale(1);
    transition: 0.6s;
}
.Alex_photo:hover{
    transition: 1s;
    transform: scale(1.1);
}
.Elena_photo{
    transform: scale(1);
    transition: 0.6s;
}
.Elena_photo:hover{
    transition: 1s;
    transform: scale(1.1);
}
.Lily_photo{
    transform: scale(1);
    transition: 0.6s;
}
.Lily_photo:hover{
    transition: 1s;
    transform: scale(1.1);
}
.photo_text{
    display: flex;
    list-style: none;
    column-gap: 150px;
    padding-left: 500px;
}
.photo_text b{
    font-family: 'Lato';
    font-weight: 700;
    line-height: 21px;
    font-size: 18px;
    width: 170px;
    height: 21px;
}
.photo_text_job{
    display: flex;
    list-style: none;
    column-gap: 150px;
    padding-left: 500px;
}
.photo_text_job b{
    font-family: 'Lato';
    font-weight: 300;
    line-height: 21px;
    font-size: 18px;
    width: 170px;
    height: 21px;
    color: #646464;
}